/* .lang{
    position: relative;
} */

.up-arrow {
    /* position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    top: -9px;
    left: 13px; */
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 17px solid #e5e7eb;
    margin: 2rem;
    position: absolute;
    top: -44px;
    left: -25px;
    display: block;
}